</div>
<div class="container">
	<div id="welcome-greeting">
		<h1>Welcome to my website!</h1>
		<h2><b>My name is Fares Alaboud. I'm a first-year Computer Science student at King's College London. I love programming, and you'll always find me learning several new programming languages. I <a href="http://wolpy.com/map/faresalaboud">travel frequently to many places around the world</a>, and I'm always on the lookout for events to attend and people to meet! </b></h2>
		<br>
		<br>
		On this test site, you will find a link to my blog, a few interesting links, my projects and more. You'll also find a number of ways to get in touch!</h2>
		<hr />

	</div>
</div>

<div class ="container">