<nav>
	<a href="http://faresalaboud.me"><img style="width: 100px;height:100px"src="../logo.png"/></a>

	<h1>Hi.</h1>

	<h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
	<hr/>
	<ul>
		<p>
			A food-loving techie with a passion for programming.
		</p>
		<p>
			<ul>
				<li>
					<a href="../index.html">Home</a>
				</li>
				<li>
					<a href="http://uk.linkedin.com/in/faresalaboud">Experience</a>
				</li>
				<li>
					<a href="../projects.html">Projects</a>
				</li>
				<li>
					<a href="http://blog.faresalaboud.me">Personal Blog</a>
				</li>
				<li>
					<a href="http://blogs.kcl.ac.uk/fares">International KCL Blog</a>
				</li>
			</ul>
		</p>
		<hr/>
		<div>
			<div id="social">
				{% include social.html %}
			</div>
		</div>
	</ul>
</nav>