<label class="menu" for="_1">
	<span class="genericon genericon-menu"></span>
</label>
<input id="_1" type="checkbox">
<div class="menu-content">
	<div class="menu" style="background-color: #777;"></div>
	<a href="{{ site.url }}">Home</a><br>
	<a href="http://faresalaboud.me">Who am I?</a><br>
</div>
<div class="social-links">
	<a href="https://twitter.com/FaresKAlaboud" target="_blank" title="Twitter"><span class="genericon genericon-twitter"></span></a>
	<a href="https://github.com/fareskalaboud" target="_blank" title="Github"><span class="genericon genericon-github"></span></a>
	<a href="https://plus.google.com/106188700391251912927/" target="_blank" title="Google+"><span class="genericon genericon-googleplus-alt"></span></a>
	<a href="{{ site.url }}/atom.xml" target="_blank" title="Subscribe to RSS"><span class="genericon genericon-feed"></span></a>
</div>
